<div class="container">
	<!-- current_customerか？ -->
	<h2>注文詳細画面</h2>
	<label>購入者<%= @order.customer.last_name. + @order.customer.first_name %></label>
	<label>配送先<%= @order.infomation %></label>
	<label>支払い方法<%= @order.payment %></label>
	<label>注文ステータス
		<%= form_for :order,url: admin_order_path(@order.id) do |f| %>
		<%= f.select :order_status,[["入金待ち","入金待ち"],["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]] %><%= f.submit '更新', class:"btn btn-primary" %>
		<% end %>
    </label>


	<div class="row">
		<div class="col-xs-3">
	<table class="table">
			<tr class="active">
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
				<th>制作ステータス</th>
			</tr>
			<tbody>
				<% sum = 0 %>
				<% @order_products.each do |order_product| %>
				<tr>
					<td><%= order_product.product.product_name %></td>
					<td><%= order_product.add_tax %></td>
					<td><%= order_product.quantity %></td>
					<td><%= order_product.add_tax * order_product.quantity %></td>
					<%= form_for :order,url: admin_order_path(@order.id) do |f| %>

					<td><%= f.select :production_status,[["着手不可","着手不可"],["制作待ち","制作待ち"],["製作中","製作中"],["制作完了","制作完了"]] %><%= f.submit '更新', class:"btn btn-primary" %></td>
					<% sum += order_product.add_tax * order_product.quantity %>
					<% end %>
				</tr>
				<% end %>
			</tbody>
	</table>
	</div>

		<div class="col-xs-9">
			<label>合計<%= sum %>円</label>
	        <label>送料<%= @order.freight %>円</label>
	        <label>請求金額合計<%= sum + @order.freight %>円</label>
		</div>
	</div>
</div>