<div class="container">
	<h2>注文詳細画面</h2>
	<label>購入者<%= order.customer.last_name. + order.customer.first_name %></label>
	<label>配送先<%= order.address %></label>
	<label>支払い方法<%= order.payment %></label>
	<label>注文ステータス
		<%= form_for :order,url: admin_order_path(order.id) do |f| %>
		<%= f.select :order_status,[["入金待ち","入金待ち"],["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]] %><%= f.submit '更新', class:"btn btn-primary" %>
		<% end %>
    </label>


	<table class="table">
		<thead>
			<tr class="active">
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
				<th>制作ステータス</th>
			</tr>
			<tbody>
				<% @order.order_products.each do |order_product| %>
				<tr>
					<td><%= %></td>
					<td><%= order.order_products.unit_price %></td>
					<td><%= order.order_products.quantity%></td>
					<td><%= order.order_products.unit_price * order.order_products.quantity %> 円</td>
					<%= form_for :order,url: admin_order_path(order.id) do |f| %>
					<!-- セレクトの後に制作ステータスをどう呼ぶか -->
					<td><%= f.select :order.order_products.production_status,[["着手不可","着手不可"],["制作待ち","制作待ち"],["製作中","製作中"],["制作完了","制作完了"]] %><%= f.submit '更新', class:"btn btn-primary" %></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</thead>
	</table>

	<div class="row">
		<div class="col-xs-11">
			<label>合計<%=  %></label>
	        <label>送料<%= order.freight %></label>
	        <label>請求金額合計<%= order.total_fee %></label>
		</div>
	</div>
</div>