<h1>マイページ</h1>

<h3>登録情報</h3>

<%= link_to "編集する", edit_customer_path, class:"btn btn-default" %>

<%= link_to "パスワードを変更する", customer_path, class:"btn btn-default" %></br>


<table class="table table-striped">
  <tr>
   <th>氏名</th>
   <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
  </tr>

  <tr>
	 <th>カナ</th>
   <td><%= current_customer.kana_last_name %><%= current_customer.kana_first_name %></td>
  </tr>

  <tr>
	 <th>郵便番号</th>
   <td><%= current_customer.postcode %></td>
  </tr>

  <tr>
	 <th>住所</th>
   <td><%= current_customer.address %></td>
  </tr>

  <tr>
	 <th>電話番号</th>
   <td><%= current_customer.telephone %></td>
  </tr>

  <tr>
	 <th>メールアドレス</th>
   <td><%= current_customer.email %></td>
  </tr>

</table>

<h3>配送先</h3>

<%= link_to "一覧を見る", addresses_path, class:"btn btn-default" %>

<h3>注文一覧</h3>

<%= link_to "一覧を見る", orders_path, class:"btn btn-default" %>


