<div class="container">
    <div class="row">
      <div class="col-xs-8">
        <h3>購入情報入力</h3><br>
        <%= form_with(model: @order, url:comfirm_path,local: true) do |f| %>
          <h4>支払い方法</h4>
            <%= radio_button_tag("payment", "0") %>クレジットカード<br>
            <%= radio_button_tag("payment", "1") %>銀行振り込み</br><br>
          <h4>お届け先</h4>
            <%= radio_button_tag("addresses", "0") %>  ご自身の住所 <%= current_customer.postcode %> <%= current_customer.address %><br>
            <%= current_customer.last_name %> <%= current_customer.first_name %></br>
            <%= radio_button_tag("addresses", "1") %>  登録住所から選択<br>
            <%= collection_select :address, :id, Address.all, :id, :information %></br>
            <%= radio_button_tag("addresses", "2") %>  新しいお届け先</br>
          <table class="table">
             <tr>
              <th>郵便番号</th><td><%= f.text_field :postcode %>ハイフンなし</td>
             </tr>
             <tr>
              <th>住所</th><td><%= f.text_area :address %></td>
             </tr>
             <tr>
              <th>宛名</th><td><%= f.text_field :ship_name %></td>
             </tr>
          </table>
            <%= f.submit "確認画面に進む" ,class:"btn btn-primary next"%>
        <% end %>
      </div>
    </div>
</div>