<h1>配送先編集</h1>

   <%= form_for(@ship_address) do |address| %>
    <table>
	    <tr>
	      <th>郵便番号</th>
	      <th>住所</th>
	      <th>宛名</th>
	      <th></th>
	    </tr>
	    <tr>
	      <td>
	      	<%= address.text_field :postcode %>
	      </td>
	      <td>
	      	<%= address.text_field :address %>
	      </td>
	      <td>
	      	<%= address.text_field :ship_name %>
	      </td>
	      <td>
	      	<%= address.submit "編集する" %>
	      </td>
	    </tr>
 	</table>
   <% end %>

