<h1>配送先登録/一覧</h1>

<%= form_for(@ship_address_new) do |f| %>
   <table>
	 	<tr>
		    <th>郵便番号</th>
		    <td><%= f.text_field :postcode %></td>
		</tr>
		<tr>
		    <th>住所</th>
		    <td><%= f.text_field :address %></td>
		</tr>
		<tr>
		    <th>宛名</th>
		    <td><%= f.text_field :ship_name %></td>
		</tr>
	</table>
    <%= f.submit '登録する' %>

   <% @ship_addresses.each do | address | %>
    <table>
	    <tr>
	      <th>郵便番号</th>
	      <td>
	      	<%= address.postcode %>
	      </td>
	  	</tr>
	  	<tr>
	      <th>住所</th>
	       <td>
	      	<%= address.address %>
	      </td>
	  	</tr>
	  	<tr>
	      <th>宛名</th>
	      <td>
	      	<%= address.ship_name %>
	      </td>
	  	</tr>
	  	<tr>
	      <th></th>
	       <td>
	      	edit
      		destory
	      </td>
	    </tr>

 	</table>
   <% end %>


<% end %>
