<div class="container">
<h2>商品一覧画面</h2>

	<table class="table">
		<thead>
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>税抜価格</th>
				<th>ジャンル</th>
				<th>ステータス</th>
				<th colspan="3"></th>
			</tr>
		</thead>
	 <tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.id %></td>
			<td><%= product.product_name %></td>
			<td><%= product.unit_price %><p>円</p></td>
			<td><%= product.genre.genre_name %></td>
			<td><%= product.sale_status %></td>
			<% end %>
		</tr>
	 </tbody>
    </table>
</div>
