<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="genre-box">
				<h4 class="genre-font-h4">ジャンル検索</h4>

				<% @genres.each do | genre | %>
					<% if genre.display == true %>

						<p class="genre-font">
						<%= link_to genre.genre_name,products_path(genre_name: genre.genre_name) %>
						</p>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="col-md-9">
			<div class="row product-box">
				<% @products.each do |product| %>
					<% if product.genre.display == true %>
						<div class="cake">
							<%= link_to(product_path(product), class: 'list-content') do %>
							<%= attachment_image_tag product,:product_image,:fill,200,200,format:'jpeg' %>
							<p>
								<%= product.product_name %><br>
								<%= product.add_tax  %>円
							</p>
							<%end%>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>