<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1>ジャンル検索</h1>
			<% @products.each do | product | %>
			<p>
			<%= link_to product.genre.genre_name,"#" %>
			</p>
			<%end%>
		</div>

		<div class="col-xs-4">
	 	 <%= attachment_image_tag @product,:product_image,:fill,300,300,format:'jpeg' %>
	 	</div>
	 	<div class="col-xs-4">
			<h1><%= @product.product_name%></h1>
			 <p>
			 	<%= @product.product_description %>
		 	</p>
		     <p>
		     	<%= @product.unit_price %>
		     </p>
		     <%= form_for @cart_item do |f| %>
		     <%= f.select :faculty, [[1,1], [2,2], [3,3], [4,4], [5,5]], include_blank: "個数選択" %>
		     <%= f.submit 'カートに入れる'%>
		  	 <% end %>
		</div>
	</div>
</div>