<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1>ジャンル検索</h1>
			<% @products.each do | product | %>
			<p>
			<%= link_to product.genre.genre_name,"#" %>
			</p>
			<%end%>
		</div>

		<div class="col-xs-4">
		<%= form_for(@cart_item, url:cart_items_path) do |i| %>
	 	 <%= attachment_image_tag @product,:product_image,:fill,300,300,format:'jpeg' %>
	 	 <%= i.attachment_field : %>
	 	</div>
	 	<div class="col-xs-4">
			<h1><%= @product.product_name%></h1>
			 <p>
			 	<%= @product.product_description %>
		 	</p>
		     <p>
		     	<%= product.unit_price %>
		     </p>
		     <%= select_tag(:quantity, options_for_select([["　個数選択　",0],[1,1],[2,2],[3,3],[4,4],[5,5]])) %>
		     <%= link_to((current_customer)) do %>
		     <button type="button" class="btn btn-success btn-xs"
		     class="btn btn-outline-info">　カートに入れる　</button>
		     <%end%>
		</div>
	</div>
</div>