<!DOCTYPE html>
<html>
  <head>
    <title>UrooboeGithub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9f7238856e.js" crossorigin="anonymous"></script>

 </head>

 <body>
    <header>
            <ul class="header">

            <% if customer_signed_in? %>

                <h4>
                <%= current_customer.last_name + current_customer.last_name %>さんがログイン中です。
                </h4>


                 <li class="header-item">
                    <%= link_to "Top(商品一覧)", products_path %></li>

                 <li class="header-item">
                    <%= link_to "詳細ページ(aboutページ)", homes_about_path %></li>

                 <li class="header-item">
                    <%= link_to "カート", cart_items_path %></li>

                 <li class="header-item">
                    <%= link_to "ログイン", new_customer_session_path %></li>

                 <li class="header-item">
                    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>

                 <li class="header-item">
                    <%= link_to "マイページ", customer_path %></li>

            <% elsif admin_signed_in? %>

                 <li class="header-item">
                    <%= link_to "Top(商品一覧)", admin_products_path %></li>

                 <li class="header-item">
                    <%= link_to "会員一覧", orders_top_path %></li>

                 <li class="header-item">
                    <%= link_to "ジャンル一覧", cart_items_path %></li>

                 <li class="header-item">
                    <%= link_to "注文履歴一覧", admin_orders_path %></li>

                <li class="header-item">
                    <%= link_to "ログイン", new_admin_session_path %></li>

                 <li class="header-item">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
                    <li class="header-item">
                    </li>

            <% else %>
                 <li class="headeritem">
                    <%= link_to "Top(商品一覧)", products_path %></li>

                 <li class="header-item">
                    <%= link_to "詳細ページ(aboutページ)", homes_about_path %></li>

                 <li class="header-item">
                    <%= link_to "ログイン", new_customer_session_path %></li>
            <% end %>
            </ul>
          </nav>
         </div>
      </nav>
  </header>


  <%= yield %>

  <footer class="footer">
    <h3 class="footer-font">ながのケーキ</h3>
  </footer>
  
 </body>
</html>


